<% include common/header.ejs %>
<br>
<br>
<br>
<div class="container">
    <div class="columns">
        <aside class="is-one-fifth column menu" style="margin-right: 30px;">
            <div class="container">
                <p class="menu-label">
                    Computer
                </p>
                <ul class="menu-list">
                    <%
                    lab.computers.sort(function (a, b) {
                        if (!isNaN(a.name) && !isNaN(b.name)) {
                            return parseInt(a.name) < parseInt(b.name) ? -1 : parseInt(a.name) > parseInt(b.name) ? 1 : 0;
                        }
                        return a.name < b.name ? -1 : a.name > b.name ? 1 : 0;
                    });
                    for(let i = 0;i < lab.computers.length;i++) { %>
                        <li>
                            <a href="<%= `/${lab._id}/${lab.computers[i]._id}` %>"
                               class="<%= lab.computers[i]._id == com._id ? 'is-active' : '' %>"><%= lab.computers[i].name %></a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </aside>


        <div class="column ">
            <div class="container ">
                <div class="level">
                    <div class="level-left">
                        <h1 class="level-item title is-2">
                            <span><%= lab.name %></span>&nbsp;/&nbsp;<span><%= com.name %></span>
                        </h1>
                    </div>
                    <div class="level-right">
                        <button class="level-item button is-primary" id="report-computer">제보하기</button>
                    </div>
                </div>
                <br><br>
                <% for(let i = 0; i < com.reports.length; i++) {
                    const report = com.reports[i];
                    const link = `/${lab._id}/${com._id}/${report._id}`;
                    const deltaDate = Math.floor((Date.now() - report.created) / (1000 * 60 * 60 * 24));
                %>
                <a href="<%= link %>">

                    <div class="level" style="margin-bottom: 14px;">
                        <div class="level-left">
                            <div class="level-item ">
                            <span class="tag <%= report.status === 0 ? 'is-danger' : 'is-primary' %> title is-6"
                                  id="computer_status"><%= report.status === 0 ? '문제 발생' : '문제 해결' %></span>
                                <h3 class="title is-4" id="title" style="margin: 0 0 0 14px;">
                                    <%= report.title %></h3>
                            </div>
                        </div>
                        <div class="level-right" id="person">
                            <span class="subtitle is-6"><%= report.author %></span>
                        </div>
                    </div>
                    <div class="subtitle is-6" id="contents">
                        <p><%= report.content %></p>
                    </div>
                    <div class="level">
                        <div class="level-left">
                            <div>
                                <%
                                for (let j = 0; j < report.tags.length; j++) {
                                    const tag = report.tags[j];
                                %>
                                <div class="level-item tag is-light subtitle is-6" style="margin-bottom:0">
                                    #<%= tag %></div>
                                <%
                                }
                                %>
                            </div>
                        </div>
                        <div class="level-right" id="time">
                            <span class="level-item subtitle is-6"><%= deltaDate %>일전 제보</span>
                        </div>
                    </div>
                </a>

                <hr>
                <br>
                <% } %>

            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<% include common/footer.ejs %>



