<% include common/header.ejs %>
<br>
<br>
<br>
<div class="container">
    <div class="columns">
        <aside class="is-one-fifth column menu" style="margin-right: 30px;">
            <div class="container">
                <p class="menu-label">
                    Computer
                </p>
                <ul class="menu-list">
                    <% for(let i = 0;i < lab.computers.length;i++) { %>
                        <li>
                            <a href="<%= `/${lab._id}/${lab.computers[i]._id}` %>"
                               class="<%= lab.computers[i]._id == com._id ? 'is-active' : '' %>"><%= lab.computers[i].name %></a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </aside>


        <div class="column ">
            <div class="container ">
                <div class="level">
                    <div class="level-left">
                        <h1 class="level-item title is-2">
                            <span><%= lab.name %></span>&nbsp;/&nbsp;<span><%= com.name %></span>
                        </h1>
                    </div>
                    <div class="level-right">
                        <button class="level-item button is-primary" id="report-computer">제보하기</button>
                    </div>
                </div>
                <br><br>
                <% for(let i = 0; i < 0; i++) { %>
                    <div class="level" style="margin-bottom: 14px;">
                        <div class="level-left">
                            <div class="level-item ">
                                <span class=" tag is-danger title is-6" id="computer_status">실행 오류</span>
                                <h3 class="title is-4" id="title" style="margin: 0 0 0 14px;">Visual Studio 2015 실행이
                                    안돼요ㅜㅜ</h3>
                            </div>
                        </div>
                        <div class="level-right" id="person">
                            <span class="subtitle is-6">wjdtmddnr24</span>
                        </div>
                    </div>
                    <div class="subtitle is-6" id="contents">
                        <p>실행하면 블루스크린 뜹니다ㅜㅜ(내용) 빨리 좀 고쳐달라...</p>
                    </div>
                    <div class="level">
                        <div class="level-left">
                            <div>
                                <div class="level-item tag is-light subtitle is-6" style="margin-bottom:0">#고컴수</div>
                                <div class="level-item tag is-light subtitle is-6" style="margin-bottom:0">#윈도우 프로그래밍
                                </div>
                                <div class="level-item tag is-light subtitle is-6" style="margin-bottom:0">#Visual
                                    Studio 2015
                                </div>
                            </div>
                        </div>
                        <div class="level-right" id="time">
                            <span class="level-item subtitle is-6">2일전 제보</span>
                        </div>
                    </div>
                    <hr><br>
                <% } %>
                <% for(let i = 0; i < com.reports.length; i++) {
                    const report = com.reports[i];
                    const link = `/${lab._id}/${com._id}/${report._id}`; %>
                <a href="<%= link %>">

                    <div class="level" style="margin-bottom: 14px;">
                        <div class="level-left">
                            <div class="level-item ">
                            <span class="tag <%= report.status === 0 ? 'is-danger' : 'is-primary' %> title is-6"
                                  id="computer_status"><%= report.status === 0 ? '실행 오류' : '오류 해결' %></span>
                                <h3 class="title is-4" id="title" style="margin: 0 0 0 14px;">
                                    <%= report.title %></h3>
                            </div>
                        </div>
                        <div class="level-right" id="person">
                            <span class="subtitle is-6"><%= report.author %></span>
                        </div>
                    </div>
                    <div class="subtitle is-6" id="contents">
                        <p><%= report.content %></p>
                    </div>
                    <div class="level">
                        <div class="level-left">
                            <div>
                                <%
                                for (let j = 0; j < report.tags.length; j++) {
                                    const tag = report.tags[j];
                                %>
                                <div class="level-item tag is-light subtitle is-6" style="margin-bottom:0">
                                    #<%= tag %></div>
                                <%
                                }
                                %>
                            </div>
                        </div>
                        <div class="level-right" id="time">
                            <!-- TODO 날짜 delta구하기                       -->
                            <span class="level-item subtitle is-6">2일전 제보</span>
                        </div>
                    </div>
                </a>

                <hr>
                <br>
                <% } %>

            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<% include common/footer.ejs %>



